<h3 class="header"><%= @board.title %></h3>
<div class="section scrollspy">
  <table>
    <thead>
      <tr>
        <th>カテゴリ</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @category_settings.each do |category_setting| %>
        <tr>
          <td><%= category_setting.category.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="section scrollspy">
  <table>
    <thead>
      <tr>
        <th>レス</th>
      </tr>
    </thead>

    <tbody>
      <% @board.comments.each_with_index do |comment, i| %>
        <tr>
          <td>  
            <%= i + 1 %> : <%= comment.user.email%> : <%= simple_time(comment.created_at)%>
            <p><%= comment.content %></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

  <% if @board.errors.any? %>
    <p>本文が未入力です。</p>
  <% end %>
<div class="section scrollspy">
  <%= form_for @comment do |f| %>
  <p>新規レス:</p>
  <div class="input-field">
    <p><%= f.text_area :content, :rows => 5 %></p>
  </div>
  <%= button_tag type: "submit", class: "right btn waves-effect waves-light" do %>
    <i class="material-icons right">send</i>
    投稿する
  <% end %>
  <%= f.hidden_field :board_id, value: @board.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>



  <%= link_to boards_path, class: 'waves-effect waves-light btn' do %>
    <i class="material-icons left">arrow_back</i>
    <span>戻る</span>
    <% end %>
  </div>
