<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content">
        <span class="card-title">新規カテゴリ作成</span>

          <% if @category.errors.any? %>
            <p>カテゴリ名が未入力です。</p>
          <% end %>

        <%= form_for @category do |f| %>
          <div class="input-field">
            <%= f.label :name, "カテゴリ名" %><br />
            <%= f.text_field :name %>
          </div>

        <div class="section scrollspy">
          <div class="input-field right-align">
            <%= button_tag class: 'btn waves-effect waves-light' do %>
              <%= content_tag :i, "send", class: "material-icons right" %>
              カテゴリ作成
            <% end %>
          </div>
        <% end %>

        <div class="section scrollspy">
          <%= link_to :back, class: 'waves-effect waves-light btn' do %>
          <i class="material-icons left">arrow_back</i>
          <span>戻る</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>